@import "css/variables.css";

/* ---BEGIN EXPERIMENTAL--- */
img[src *= "nolineai.png"] {
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
/* ---END EXPERIMENTAL--- */

html {
  font-family: "Proxima Vara", "Open Sans", sans-serif;
}

body {
  font-size: 1.7rem;
}

#menu-bar-hover-placeholder {
  pointer-events: none;
}

#theme-toggle {
  display: none;
}

.page h1 > a {
  color: white !important;
  background-color: #0088cc;
  padding: 1rem 1.6rem;
  border-radius: 6px;
  margin-left: -1.6rem;
}

.page h2 > a {
  color: #0088cc !important;
}

.page h2:not(:nth-child(2))::before {
  display: block;
  margin: 40px auto 30px auto;
  content: "";
  height: 1px;
  width: 80%;
  background: #cccccc;
}

.page blockquote > p:first-child {
  padding-left: 2em;
  background-image: url(bug.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

#header-nav-wrapper {
  position: relative;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-fg);
  z-index: 1;
}

#header-nav-wrapper .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--page-padding);
}

#header-nav-wrapper .logo {
  width: 160px;
}

#header-nav-wrapper .menu-items {
  display: flex;
  align-items: center;
}

#header-nav-wrapper .menu-item {
  margin-left: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

#header-nav-wrapper .menu-item:last-child {
  background-color: #0088cc;
  padding: 0.5rem 1.1rem;
  border-radius: 3px;
}
