<header>  
  <input id="reveal-menu" type="checkbox">
  <div id="header-nav-wrapper">
    <div class="header-nav">
      <div class="header-nav-left">
	<a href="/"><img class="logo" src="logo.svg"></a>
	<span class="menu-separator"></span>
	<span class="menu-item slogan">Presentation Management</span>
      </div>
      <label for="reveal-menu">
	Menu
	<i class="fa fa-bars" aria-hidden="true"></i>
      </label>
      <div class="header-nav-right">
	<a class="menu-item" href="https://shufflrr.com"><i class="fa fa-home"></i>&nbsp;Home</a>
	<a class="menu-item" href="https://shufflrr.com/pricing">Pricing</a>
	<a class="menu-item" href="https://shufflrr.com/demo">Demo</a>
	<a class="menu-item" href="https://login.shufflrr.com" target="_blank">Login</a>
	<span class="menu-separator"></span>
	<span class="social-icons">
	  <a class="menu-item social-icon" href="https://linkedin.com/company/shufflrr" target="_blank"><i class="fa fa-linkedin"></i></a>
	  <a class="menu-item social-icon" href="https://facebook.com/shufflrr"><i class="fa fa-facebook" target="_blank"></i></a>
	  <a class="menu-item social-icon" href="https://twitter.com/shufflrr"><i class="fa fa-twitter" target="_blank"></i></a>
	</span>
	<label for="reveal-menu">
	  <i class="menu-item fa fa-times"></i>
	</label>
      </div>
    </div>
  </div>
</header>
