<div id="header-nav-wrapper">
  <div class="header-nav">
    <a href="/"><img class="logo" src="logo.svg"></a>
    <div class="header-nav-right">
      <a class="menu-item" href="https://shufflrr.com"><i class="fa fa-home"></i>&nbsp;Home</a>
      <a class="menu-item" href="https://shufflrr.com/pricing">Pricing</a>
      <a class="menu-item" href="https://shufflrr.com/demo">Demo</a>
      <a class="menu-item" href="https://login.shufflrr.com">Login</a>
      <span class="menu-separator"></span>
      <a class="menu-item social-icon" href="https://linkedin.com/company/shufflrr"><i class="fa fa-linkedin"></i></a>
      <a class="menu-item social-icon" href="https://facebook.com/shufflrr"><i class="fa fa-facebook"></i></a>
      <a class="menu-item social-icon" href="https://twitter.com/shufflrr"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>
